@import "./style/colors.scss";
* {
  padding: 0;
  margin: 0;
  transition: all 0.5s;
}
body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $bg_body;
}
